@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

body {
  margin: 0;
  
}

/******* FONTS ********/
* {
  font-family: 'Montserrat';
}

/****** LAYOUT ********/



/****** FORMS *******/
form{
  text-align: left;
  width:90%;
  padding:5%;
}
.form-field-login{
  margin-bottom: 2em;
  margin-right: 1em;
}

.form-field-login label{
  display:block;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 1.5em;
  
}

.form-field-login input {
  border-radius: 5px;
  border: 1px solid #73AC97;
  padding-left: 0.3em;
  height: 3em;
  width:100%;
  font-size: 1.5em;
  
}
.buttonsContainer-login{
  display: flex;
  justify-content: center;
}

.flexform{
  display: flex;  
  flex-wrap: wrap;
}

@media (max-width:768px){
  .form-field-login{
    margin-bottom: 2em;
    margin-right: 1em;
  }
  .form-field-login label{
    display:block;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  .form-field-login input {
    border-radius: 5px;
    border: 1px solid #73AC97;
    padding-left: 0.3em;
    height: 3em;
    width:100%;
    font-size: 1.5em;
  }
  .login-form p{
    font-size: 1.5em;
  }
  .buttonsContainer-login{
    display: flex;
    justify-content: center;
  }
}
/********* Table ********/
table{
  width:100%;
  text-align: left;
}
table {
  border-collapse: none;
  border-spacing: 0px;
  margin-bottom: 2em;
}
table thead th {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #267356;
  color: #267356;
  font-size: 1.3em;
  text-align: center;
  
}
table thead{
  text-transform: capitalize;
}
table tbody tr td{
  border:none;
  height: 2.5em;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #73AC97;
  text-align: center;

}
table .right{
  text-align: right;
}
table .left {
  text-align: left;
}

table .smallcell{
  width: 10%;
}
table button {
  font-size: x-small;
  text-transform: lowercase;
}
table #delete button {
  border: 2px solid #F80000;
  background-color: white;
  color: #F80000;
}
table #delete button:hover {
  background-color: lightcoral;
  color: white;
}
.delivered {
  color: rgb(0, 0, 0, 0.4);
}
.noDelivered input {
  display: none;
}

/***** MODALS ******/
.modalHeading {
  color: #003924;
  margin-top: 1em;
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
}
.signin-form form{
  text-align: left;
  width:90%;
  padding-top:5%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:2%;

}
.signin-form .form-field{
  margin-bottom: 2em;
  margin-right: 1em;
}
.signin-form .form-field label{
  display:block;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.signin-form .form-field input {
  border-radius: 5px;
  border: 1px solid #73AC97;
  padding-left: 0.3em;
  height: 3em;
  width:100%;
  font-size: 1.5em;
  
}
.signin-form .buttonsContainer{
  display: flex;
  justify-content: center;
}

.flexform{
  display: flex;  
  flex-wrap: wrap;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation: zoomIn;
  animation: zoomIn .3s normal;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation: zoomOut;
  animation: zoomOut .5s normal;
}



/***** BUTTONS & LINKS *******/
a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
/*a:hover {
  color: #0E563b;
}*/
.login-form p a{
  color: #267356;
  transition: .5s;

}
.login-form p a:hover{
  color: #0E563b;
}

.buttonsContainer{
  text-align: center;
  margin-bottom: 2em;
}

button{
  width: 15%;
  border: none;
  border-radius: 80px;
  color: #fff;
  font-size: 1.2em;
  padding: 0.5em;
  margin:0.5em;
  font-weight: bold;
  background-color:#267356;
  outline: none;
  cursor: pointer;
  transition: .5s;
  min-width: 10em;
}

button:hover {
  background-color:#0E563b;
}

@media (max-width:768px){
  a{
    width: 100%;
  }

}

