.contact-background {
    
    height: 100vh;
    background-image: url('../HaProject-Images/austris-augusts-52p1K0d0euM-unsplash.jpg');
    background-size: cover;
}

.contact {
    padding-top: 15%;
    margin-left: 20%;
    color: white;
    
}
.primer {
    
    font-size: 2em;
    font-weight: bold;
    text-shadow: 10px 10px 10px #003924;

}
.segundo {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 10px 10px 10px #003924;



}