@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    
.modal-background {
    font-family: 'Montserrat';
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-foreground {
    border: none;
    margin-top: 13vh;
    margin-bottom: 1vh;
    max-height: 90%;
    width: 50%;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    font-size: calc(5px + 1vmin);
    box-shadow: 5px 5px 20px #000000;
}

form{
  text-align: left;
  width:90%;
  padding:3%;
  
}
form p {
  font-size: 1.2em;
}

.form-field-login{
  margin-bottom: 2em;
  margin-right: 1em;
}

.form-field-login label{
  display:block;
  justify-content: space-between;
  margin-bottom: .5em;
  font-size: 1.5em;
  
}

.form-field-login input {
  border-radius: 5px;
  border: 1px solid #73AC97;
  padding-left: 0.3em;
  height: 3em;
  width:100%;
  font-size: 1.5em;
  
}
.buttonsContainer-login{
  display: flex;
  justify-content: center;
}

.flexform{
  display: flex;  
  flex-wrap: wrap;
}
.noRegMessage {
  color: red;
  font-size: 1.2em;
}

/*CLOSING SIMBOL*/
.closing-div {
  
  display: flex;
  justify-content: flex-end;
}
.close {
  margin-top: 0.5%;
  padding-right: 0.5%;
  flex: 1 1 auto;
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  transition: .3s;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #0E563b;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


@media (max-width:768px){
    .modal-foreground {
        min-width: 100vw;
        min-height: 100vh;
        border-radius: 0;
    }
    form{
      text-align: left;
      width:90%;
      padding:5%;
    }
    .form-field{
      margin-bottom: 2em;
      margin-right: 1em;
    }
    
    .form-field label{
      display:block;
      justify-content: space-between;
      margin-bottom: 1em;
      font-size: 1.5em;
      
    }
    
    .form-field input {
      border-radius: 5px;
      border: 1px solid #73AC97;
      padding-left: 0.3em;
      height: 3em;
      width:100%;
      font-size: 1.5em;
      
    }
    
    .flexform{
      display: flex;  
      flex-wrap: wrap;
    }
  }

.signin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
}
.signin-form .formHeading {
    font-size: 2em;
}
.login-form {
    flex: 1 1 auto;
    text-align: left;
    width: 90%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;

}
.login-form h3 {
    text-align: center;
    margin-top: 0%;
}

.signup-form {
    width: 50%;
    flex: 1 1 auto;
    max-width: 250px;
    padding-left: 5em;
}
#signup {
    display: flex;
    align-items: center;
    flex-direction: column;
}

